{% extends "nav.html" %}

{% block content %}

<div class="window">
    <div class="container bg-light rounded mt-3 text-dark" id="zones">
        <h1 class="titre text-center">Connexion</h1>
        <div class="text-center mb-4"> <!-- Centrer le contenu -->
            <img src="{{ url_for('static', filename='img/profil.png') }}" class="img-fluid rounded-circle" alt="Profile Image" style="max-width: 150px;">
        </div>
        <div class="connexion-container">
            <form action="{{ url_for('conn') }}" method="POST" class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-8"> <!-- Utilisation des classes grid pour occuper 1/3 de la page sur les écrans larges, 1/2 sur les écrans moyens et 2/3 sur les petits écrans -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter votre nom d'utilisateur">
                    </div>               
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password">
                    </div>
                    <div class="text-center my-3"> <!-- Utilisation de text-center pour centrer le contenu suivant -->
                        <button type="submit" class="btn btn-success">Submit</button> <!-- Utiliser btn-success pour un bouton vert -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

